<div class="banner-4 position-relative z-1 overflow-hidden bg-body-tertiary">
<div class="section-space-md-bottom">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-10 col-xl-8">
<nav class="mb-3">
<ol class="breadcrumb breadcrumb-modifier justify-content-center">
<li class="breadcrumb-item">
<a class="link fs-14" href="#">Home</a>
</li>
<li class="breadcrumb-item">
<i class="align-middle fs-14 ti ti-chevron-right"></i>
</li>
<li aria-current="page" class="breadcrumb-item active fs-14">
								Page
							</li>
</ol>
</nav>
<h3 class="mb-0 text-center">
						The New Standard For Modern Software Development
					</h3>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row justify-content-center">
<div class="col-12">
<div class="text-center">
<img alt="image" class="img-fluid" src="assets/img/{{bannerImage}}"/>
</div>
</div>
</div>
</div>
<svg class="position-absolute start-50 top-50 translate-middle z-n1" fill="none" height="1121" viewbox="0 0 1638 1121" width="1638" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_f_8060_960)">
<path d="M1065.74 303.208C1101.57 254.168 1152.56 141 1222.26 141C1280.58 141 1270.73 311.594 1168.9 453.054C933.087 728.347 759.802 741 603.286 741C446.77 741 379.327 661.573 379.327 612.533C379.327 563.494 426.469 493.707 681.047 493.707C935.62 493.707 1029.91 352.247 1065.74 303.208Z" fill="#6328FF" fill-opacity="0.5"></path>
</g>
<defs>
<filter color-interpolation-filters="sRGB" filterunits="userSpaceOnUse" height="1358.29" id="filter0_f_8060_960" width="1636.97" x="0.179352" y="-238.147">
<feflood flood-opacity="0" result="BackgroundImageFix"></feflood>
<feblend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"></feblend>
<fegaussianblur result="effect1_foregroundBlur_8060_960" stddeviation="150"></fegaussianblur>
</filter>
</defs>
</svg>
</div>
