<footer class="section-space-top section-space-sm-bottom bg-dark">
<div class="section-space-sm-bottom">
<div class="container">
<div class="row g-4">
<div class="col-md-6 col-xl-3 col-xxl-2">
<div class="d-flex flex-column h-100">
<a class="logo d-inline-block mb-4" href="index.html">
<img alt="image" class="logo__img" src="assets/img/logo-light.png"/>
</a>
<p class="mb-8 text-light">
							الوصول إلى المضيف المحلي كوبيرنيتيس محرك من خلال
						</p>
<h6 class="mb-3 text-light fs-18 mt-auto">تابعنا</h6>
<ul class="list list-row flex-wrap gap-4 align-items-center">
<li>
<a class="link d-inline-block" href="#">
<i class="text-light fs-20 ti ti-instagram"></i>
</a>
</li>
<li>
<a class="link d-inline-block" href="#">
<i class="text-light fs-20 ti ti-youtube-icon"></i>
</a>
</li>
<li>
<a class="link d-inline-block" href="#">
<i class="text-light fs-20 ti ti-facebook"></i>
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-9 col-xxl-10">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
<div class="col">
<h6 class="mb-6 text-light fs-18">استضافة</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="web-hosting.html">
										استضافة الويب
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="wp-hosting.html">
										استضافة ووردبريس
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="vps-hosting.html">
										استضافة الخامس ص
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="email-hosting.html">
										استضافة البريد الإلكتروني
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-hosting.html">
										الاستضافة السحابية
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="reseller-hosting.html">
										استضافة الموزع
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="cpanel-hosting.html">
										استضافة لوحة التحكم
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-server-hosting.html">
										الخادم السحابي
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 text-light fs-18">سمات</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="data-center.html">
										مركز البيانات
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="server-location.html">
										موقع الخادم
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="uptime.html">
										وقت تشغيل الخادم
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="operating-system.html">
										أنظمة التشغيل
									</a>
</li>
</ul>
<h6 class="mb-6 text-light fs-18 mt-12">يدعم</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="acronis-backup.html">
										النسخ الاحتياطي لبرنامج
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="website-management.html">
										إدارة موقع الويب بسهولة
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 text-light fs-18">أدوات</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="website-builder.html">
										منشئ الموقع
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="ssl-certificate.html">
										شهادات س س ل
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="email-service.html">
										خدمات البريد الإلكتروني
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="review.html">
										مراجعة
									</a>
</li>
</ul>
<h6 class="mb-6 text-light fs-18 mt-12">موارد</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="affiliate.html">
										انضم
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="knowledge-base.html">
										قاعدة المعرفة
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 text-light fs-18">شركة</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="about.html">
										عن
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="blog-1.html">
										مدونة
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="career.html">
										حياة مهنية
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="case-study.html">
										دراسات الحالة
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="contact.html">
										اتصل بنا
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="privacy-policy.html">
										سياسة الخصوصية
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="ddos-protection.html">
										حماية
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="domain.html">
										اِختِصاص
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="cart.html">
										عربة
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 text-light fs-18">موارد</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="faq.html">
										التعليمات
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="checkout.html">
										الدفع
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-server-hosting.html">
										الخادم السحابي
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="domain-transfer.html">
										نقل المجال
									</a>
</li>
</ul>
<h6 class="mb-6 text-light fs-18 mt-12">لماذا تختارنا؟</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="features.html">
										سمات
									</a>
</li>
<li>
<a class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14" href="review.html">
										تقييمات الخدمة
									</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section-space-sm-top border-top border-light border-opacity-10">
<div class="container">
<div class="row g-4 align-items-center justify-content-between">
<div class="col-md-5 col-lg-6">
<h6 class="text-light fs-18 fw-medium">احصل على نشرتنا الإخبارية</h6>
<div class="search-filter search-filter--light bg-light bg-opacity-20 rounded-1 max-text-10">
<input class="form-control search-filter__input text-light placeholder::text-light placeholder::text-opacity-50" placeholder="Search Now..." type="text"/>
<button class="btn btn-primary align-items-center flex-shrink-0" type="button">
							يشترك
						</button>
</div>
</div>
<div class="col-md-7 col-lg-5 col-xl-4">
<h6 class="text-light fs-18 fw-medium">بوابة الدفع</h6>
<ul class="list list-row flex-wrap gap-4 align-items-center">
<li>
<a class="d-inline-block" href="#">
<img alt="image" class="img-fluid" src="assets/img/pm-img-1.png"/>
</a>
</li>
<li>
<a class="d-inline-block" href="#">
<img alt="image" class="img-fluid" src="assets/img/pm-img-2.png"/>
</a>
</li>
<li>
<a class="d-inline-block" href="#">
<img alt="image" class="img-fluid" src="assets/img/pm-img-3.png"/>
</a>
</li>
<li>
<a class="d-inline-block" href="#">
<img alt="image" class="img-fluid" src="assets/img/pm-img-4.png"/>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</footer>