<footer class="section-space-top position-relative z-1 overflow-hidden">
<div class="section-space-sm-bottom">
<div class="container">
<div class="row g-4">
<div class="col-md-8 col-lg-6 col-xl-3">
<div class="d-flex flex-column h-100">
<a class="logo d-inline-block mb-4" href="index.html">
<img alt="image" class="logo__img" src="assets/img/logo.png"/>
</a>
<p class="mb-8">
							لقد اكتسبنا خبرة تزيد عن 20 عامًا في إنشاء منصة الاستضافة
							السحابية المثالية.
						</p>
<img alt="image" class="img-fluid mb-8" src="assets/img/certificate-img.png"/>
<p class="mb-0 mt-auto">
							© 2002-2025 شركة لوكال هوست للاستضافة المحدودة. جميع
							الحقوق محفوظة.
						</p>
</div>
</div>
<div class="col-xl-9">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4 justify-content-xl-around">
<div class="col">
<h6 class="mb-6 fs-18">استضافة</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="web-hosting.html">
										استضافة الويب
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="wp-hosting.html">
										استضافة ووردبريس
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="vps-hosting.html">
										استضافة الخامس ص
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="email-hosting.html">
										استضافة البريد الإلكتروني
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-hosting.html">
										الاستضافة السحابية
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="reseller-hosting.html">
										استضافة الموزع
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cpanel-hosting.html">
										استضافة لوحة التحكم
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-server-hosting.html">
										الخادم السحابي
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">سمات</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="data-center.html">
										مركز البيانات
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="server-location.html">
										موقع الخادم
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="uptime.html">
										وقت تشغيل الخادم
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="operating-system.html">
										أنظمة التشغيل
									</a>
</li>
</ul>
<h6 class="mb-6 fs-18 mt-12">يدعم</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="acronis-backup.html">
										النسخ الاحتياطي
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="website-management.html">
										إدارة موقع الويب بسهولة
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">أدوات</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="website-builder.html">
										منشئ الموقع
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="ssl-certificate.html">
										شهادات س س ل
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="email-service.html">
										خدمات البريد الإلكتروني
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="review.html">
										مراجعة
									</a>
</li>
</ul>
<h6 class="mb-6 fs-18 mt-12">موارد</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="affiliate.html">
										انضم
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="knowledge-base.html">
										قاعدة المعرفة
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">شركة</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="about.html">
										عن
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="blog-1.html">
										مدونة
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="career.html">
										حياة مهنية
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="case-study.html">
										دراسات الحالة
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="contact.html">
										اتصل بنا
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="privacy-policy.html">
										سياسة الخصوصية
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="ddos-protection.html">
										حماية
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="domain.html">
										اِختِصاص
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cart.html">
										عربة
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">موارد</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="faq.html">
										التعليمات
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="checkout.html">
										الدفع
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-server-hosting.html">
										الخادم السحابي
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="domain-transfer.html">
										نقل المجال
									</a>
</li>
</ul>
<h6 class="mb-6 fs-18 mt-12">لماذا تختارنا؟</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="features.html">
										سمات
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="review.html">
										تقييمات الخدمة
									</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section-space-xsm-y border-top">
<div class="container">
<div class="row g-4 align-items-center">
<div class="col-sm-6">
<ul class="list list-row gap-4 flex-wrap">
<li>
<a class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium" href="privacy-policy.html">
								قانوني
							</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium" href="privacy-policy.html">
								خصوصية
							</a>
</li>
</ul>
</div>
<div class="col-sm-6">
<ul class="list list-row justify-content-sm-end gap-4 flex-wrap">
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-baseline-discord"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-baseline-facebook"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-twitter"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-dribbble"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-linkedin-fill"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</footer>