<footer class="section-space-top position-relative z-1 overflow-hidden">
<div class="section-space-sm-bottom">
<div class="container">
<div class="row g-4">
<div class="col-md-8 col-lg-6 col-xl-3">
<div class="d-flex flex-column h-100">
<a class="logo d-inline-block mb-4" href="index.html">
<img alt="image" class="logo__img" src="assets/img/logo.png"/>
</a>
<p class="mb-8">
							Over 20 years of experience have gone in to creating the
							perfect cloud hosting platform.
						</p>
<img alt="image" class="img-fluid mb-8" src="assets/img/certificate-img.png"/>
<p class="mb-0 mt-auto">
							© 2025 Turnpage Networks www.turnpage.io Hosting Ltd. All rights reserved.
						</p>
</div>
</div>
<div class="col-xl-9">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4 justify-content-xl-around">
<div class="col">
<h6 class="mb-6 fs-18">Hosting</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="web-hosting.html">
										Web hosting
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="wp-hosting.html">
										WordPress hosting
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="vps-hosting.html">
										VPS hosting
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="email-hosting.html">
										Email Hosting
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-hosting.html">
										Cloud hosting
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="reseller-hosting.html">
										Reseller hosting
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cpanel-hosting.html">
										Cpanel Hosting
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-server-hosting.html">
										Cloud Server
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">Features</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="data-center.html">
										Data Center
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="server-location.html">
										Server Location
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="uptime.html">
										Server Uptime
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="operating-system.html">
										Operating Systems
									</a>
</li>
</ul>
<h6 class="mb-6 fs-18 mt-12">Support</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="acronis-backup.html">
										Acronis Backup
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="website-management.html">
										Easy Website Manage
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">Tools</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="website-builder.html">
										Website Builder
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="ssl-certificate.html">
										SSL Certificates
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="email-service.html">
										Email Services
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="review.html">
										Review
									</a>
</li>
</ul>
<h6 class="mb-6 fs-18 mt-12">Resources</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="affiliate.html">
										Affiliate
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="knowledge-base.html">
										Knowledge base
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">Company</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="about.html">
										About
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="blog-1.html">
										Blog
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="career.html">
										Career
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="case-study.html">
										Case Studies
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="contact.html">
										Contact Us
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="privacy-policy.html">
										Privacy Policy
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="ddos-protection.html">
										Security
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="domain.html">
										Domain
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cart.html">
										Cart
									</a>
</li>
</ul>
</div>
<div class="col">
<h6 class="mb-6 fs-18">Resources</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="faq.html">
										FAQ
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="checkout.html">
										Checkout
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="cloud-server-hosting.html">
										Cloud Server
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="domain-transfer.html">
										Domain Transfer
									</a>
</li>
</ul>
<h6 class="mb-6 fs-18 mt-12">Why Choose Us</h6>
<ul class="list gap-2">
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="features.html">
										Features
									</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14" href="review.html">
										Service Reviews
									</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="py-4 border-dark-subtle border-top">
<div class="container">
<div class="row g-4 g-md-0 align-items-center">
<div class="col-sm-6">
<ul class="list list-row gap-4 flex-wrap">
<li>
<a class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium" href="privacy-policy.html">
								Legal
							</a>
</li>
<li>
<a class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium" href="privacy-policy.html">
								Privacy
							</a>
</li>
</ul>
</div>
<div class="col-sm-6">
<ul class="list list-row align-items-center justify-content-sm-end gap-4 flex-wrap">
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-baseline-discord"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-baseline-facebook"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-twitter"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-dribbble"></i>
</a>
</li>
<li>
<a class="link d-inline-block text-body hover:text-primary" href="#">
<i class="fs-24 ti ti-linkedin-fill"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<img alt="image" class="img-fluid position-absolute start-0 bottom-0 z-n1 pointer-none d-none d-md-block footer-shape-1" src="assets/img/shapes/footer-shape-1.png"/>
<img alt="image" class="img-fluid position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none d-none d-md-block footer-shape-2" src="assets/img/shapes/footer-shape-2.png"/>
</footer>