<header class="navbar navbar-expand-lg primary-header {{primaryHeader}}">
<div class="container align-items-lg-center {{primaryHeaderContainer}}">
<a class="logo" href="index.html">
<img alt="image" class="logo__img logo__img--light" src="assets/img/{{logoLight}}"/>
<img alt="image" class="logo__img logo__img--dark" src="assets/img/{{logoDark}}"/>
</a>
<button aria-controls="navbar0" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler border-0" data-bs-target="#navbar0" data-bs-toggle="collapse" type="button">
<i class="ti ti-hamburger-menu-line-duotone"></i>
</button>
<nav class="collapse navbar-collapse" id="navbar0">
<ul class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0">
<li class="nav-item has-sub-level-1 navigation-0 navigation-0--column-5">
<a class="nav-link" href="#">Home</a>
<ul class="navigation-0__menu">
<li class="navigation-0__menu-list">
<a class="link navigation-0__menu-link" href="index.html">
<img alt="image" class="navigation-0__menu-img" src="assets/img/demo-img-1.png"/>
<span class="navigation-0__menu-title">
									Modern Hosting
								</span>
</a>
</li>
<li class="navigation-0__menu-list">
<a class="link navigation-0__menu-link" href="home-2.html">
<img alt="image" class="navigation-0__menu-img" src="assets/img/demo-img-2.png"/>
<span class="navigation-0__menu-title">
									Web Hosting
								</span>
</a>
</li>
<li class="navigation-0__menu-list">
<a class="link navigation-0__menu-link" href="home-3.html">
<img alt="image" class="navigation-0__menu-img" src="assets/img/demo-img-3.png"/>
<span class="navigation-0__menu-title">
									Classic Hosting
								</span>
</a>
</li>
<li class="navigation-0__menu-list">
<a class="link navigation-0__menu-link" href="web-hosting.html">
<img alt="image" class="navigation-0__menu-img" src="assets/img/demo-img-4.png"/>
<span class="navigation-0__menu-title">
									Web Hosting
								</span>
</a>
</li>
<li class="navigation-0__menu-list">
<a class="link navigation-0__menu-link" href="cloud-server-hosting.html">
<img alt="image" class="navigation-0__menu-img" src="assets/img/demo-img-5.png"/>
<span class="navigation-0__menu-title">
									Cloud Server Hosting
								</span>
</a>
</li>
</ul>
</li>
<li class="nav-item navigation-2 has-sub-level-1">
<a class="nav-link" href="#">Services</a>
<ul class="navigation-2__menu">
<li class="navigation-2__menu-list">
<span class="d-block mb-2 text-secondary dark:text-light fw-semibold">
								Security Tools
							</span>
<ul class="list gap-1">
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="ssl-certificate.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-expeditedssl"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												SSL Certificate
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Authenticates a website's identity
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="ddos-protection.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-web-security"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												DDOS Protection
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Security measure that defends websites
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="website-management.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-lock-comment-security"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Website Management
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Manage your website with ease
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="acronis-backup.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-backup-line"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Acronis Backup
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Data protection solution that allows users
												to back up and recover
											</span>
</span>
</a>
</li>
</ul>
</li>
<li class="navigation-2__menu-list">
<span class="d-block mb-2 text-secondary dark:text-light fw-semibold">
								Websites
							</span>
<ul class="list gap-1">
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="website-builder.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-graphic-template-website-ui"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Website Builder
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Create a website in 3 easy steps
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="affiliate.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-user-switch"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Affiliate
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Earns commission by selling products
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="knowledge-base.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-bulb"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Knowledge Base
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Centralized online information library
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="email-service.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-envelope-outline"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Email Service
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Create and send email campaigns with AI
											</span>
</span>
</a>
</li>
</ul>
</li>
<li class="navigation-2__menu-list">
<span class="d-block mb-2 text-secondary dark:text-light fw-semibold">
								Domain
							</span>
<ul class="list gap-1">
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="domain-search.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-search-line"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Domain Search
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Find and register your website address
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="domain-transfer.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-transfer-horizontal-line-duotone"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Domain Transfer
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Transfer a domain to localhost, fast
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="domain.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-list-check-3-fill"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Domain Registration
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Register a domain name for your website
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="email-service.html">
<span class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0">
<i class="fs-24 navigation-2__menu-icon-is ti ti-person-support-28-regular"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Email Service
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Need help with your email? Contact us
											</span>
</span>
</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="nav-item has-sub-level-1 navigation-3">
<a class="nav-link" href="#">Hosting</a>
<ul class="navigation-3__menu">
<li class="navigation-3__menu-list">
<ul class="list">
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="vps-hosting.html">
<span class="d-grid place-content-center w-10 h-10 rounded-circle flex-shrink-0 bg-primary">
<i class="fs-24 text-light ti ti-server-2-broken"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												VPS Hosting
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Get a powerful VPS Hosting plan
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="wp-hosting.html">
<span class="d-grid place-content-center w-10 h-10 bg-dark rounded-circle flex-shrink-0">
<i class="fs-24 text-light ti ti-sharp-wordpress"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Wordpress Hosting
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Managed WordPress Hosting for your website
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="cloud-hosting.html">
<span class="d-grid place-content-center w-10 h-10 bg-info rounded-circle flex-shrink-0">
<i class="fs-24 text-light ti ti-server-square-cloud-broken"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Cloud Hosting
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												The tools to level-up your business
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="reseller-hosting.html">
<span class="d-grid place-content-center w-10 h-10 bg-success rounded-circle flex-shrink-0">
<i class="fs-24 text-light ti ti-server-share"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Reseller Hosting
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Secure, speedy, reliable services
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="email-hosting.html">
<span class="d-grid place-content-center w-10 h-10 bg-secondary rounded-circle flex-shrink-0">
<i class="fs-24 text-light ti ti-email-notification"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												Email Hosting
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Professional address to build brand
											</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="cpanel-hosting.html">
<span class="d-grid place-content-center w-10 h-10 bg-warning rounded-circle flex-shrink-0">
<i class="fs-24 text-light ti ti-cpanel"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
												cPanel Hosting
											</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
												Designed for professionals and agencies
											</span>
</span>
</a>
</li>
</ul>
</li>
<li class="navigation-3__menu-list">
<div class="navigation-2__menu-promo bg-primary-subtle-rgb dark:bg-secondary-subtle border border-primary border-opacity-10 rounded p-3 d-flex flex-column gap-4 h-100">
<h6 class="navigation-3__menu-title fs-20 mb-0">
									# 1 Web Hosting Service
								</h6>
<ul class="list gap-3">
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
											Flexibale easy to use control panel
										</span>
</li>
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
<strong>99%</strong> Uptime Guarantee
										</span>
</li>
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
<strong>45 - Day</strong> money back guarantee
										</span>
</li>
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
<strong>Free SSL</strong> certificate included
										</span>
</li>
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
<strong>One-Click</strong> App Installer
										</span>
</li>
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
<strong>24/7</strong> Expert Support
										</span>
</li>
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
<strong>Unlimited</strong> Bandwidth
										</span>
</li>
<li class="d-flex align-items-start gap-1 fs-14">
<i class="fs-24 text-success flex-shrink-0 ti ti-check-fill"></i>
<span class="d-block navigation-3__menu-text">
											Free Website Migration
										</span>
</li>
</ul>
<a class="btn btn-secondary align-items-center fs-14 text-light justify-content-center mt-auto" href="#">
									Learn More
									<i class="fs-20 flex-shrink-0 ti ti-arrow-right-outline"></i>
</a>
</div>
</li>
</ul>
</li>
<li class="nav-item has-sub-level-1 navigation-3">
<a class="nav-link" href="#">Server</a>
<ul class="navigation-3__menu navigation-3__menu-short flex-column">
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="dedicated-server-hosting.html">
<span class="d-grid place-content-center w-10 h-10 bg-info rounded-circle flex-shrink-0">
<i class="fs-20 text-white ti ti-server-square-cloud-broken"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
										Dedicated Server
									</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
										Multiple interconnected servers to distribute
										resources
									</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="server-location.html">
<span class="d-grid place-content-center w-10 h-10 bg-secondary rounded-circle flex-shrink-0">
<i class="fs-20 text-light ti ti-server-path-broken"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
										Server Location
									</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
										Choose a server location for optimal performance
									</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="data-center.html">
<span class="d-grid place-content-center w-10 h-10 bg-warning rounded-circle flex-shrink-0">
<i class="fs-20 text-light ti ti-server-2-outline"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
										All Data Center
									</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
										Explore our global data center locations
									</span>
</span>
</a>
</li>
<li>
<a class="navigation-2__menu-link link d-flex align-items-start gap-3" href="uptime.html">
<span class="d-grid place-content-center w-10 h-10 bg-danger rounded-circle flex-shrink-0">
<i class="fs-20 text-light ti ti-server-crash"></i>
</span>
<span class="d-block flex-grow-1">
<span class="navigation-2__menu-title d-block fw-bold">
										Server Uptime
									</span>
<span class="navigation-2__menu-text line-clamp line-clamp--2 fs-14">
										Monitor server uptime and performance
									</span>
</span>
</a>
</li>
</ul>
</li>
<li class="nav-item has-sub-level-1 navigation-1">
<a class="nav-link" href="#">Pages</a>
<ul class="navigation-1__menu">
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="about.html">
								About Us
							</a>
</li>
<li class="navigation-1__menu-list has-sub-level-2">
<a class="link navigation-1__menu-link" href="#"> Blog </a>
<ul class="navigation-1__sub-menu">
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="blog-4.html">
										Blog List
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="blog-2.html">
										Modern Blog
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="blog-3.html">
										Blog Left Sidebar
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="blog-1.html">
										Blog Right Sidebar
									</a>
</li>
</ul>
</li>
<li class="navigation-1__menu-list has-sub-level-2">
<a class="link navigation-1__menu-link" href="#">
								Blog Details
							</a>
<ul class="navigation-1__sub-menu">
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="blog-details-2.html">
										Blog Details
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="blog-details-3.html">
										Blog Details Left Sidebar
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="blog-details-1.html">
										Blog Details Right Sidebar
									</a>
</li>
</ul>
</li>
<li class="navigation-1__menu-list has-sub-level-2">
<a class="link navigation-1__menu-link" href="#"> Career </a>
<ul class="navigation-1__sub-menu">
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="career.html">
										Career
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="career-details.html">
										Career Details
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="career-application.html">
										Career Application
									</a>
</li>
</ul>
</li>
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="cart.html">
								Cart
							</a>
</li>
<li class="navigation-1__menu-list has-sub-level-2">
<a class="link navigation-1__menu-link" href="#">
								Case Study
							</a>
<ul class="navigation-1__sub-menu">
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="case-study.html">
										Case Study
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="case-study-details.html">
										Case Study Details
									</a>
</li>
</ul>
</li>
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="checkout.html">
								Checkout
							</a>
</li>
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="contact.html">
								Contact
							</a>
</li>
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="features.html">
								Features
							</a>
</li>
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="operating-system.html">
								Operating System
							</a>
</li>
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="review.html">
								Reviews
							</a>
</li>
<li class="navigation-1__menu-list">
<a class="link navigation-1__menu-link" href="service-uptime.html">
								Service Uptime
							</a>
</li>
<li class="navigation-1__menu-list has-sub-level-2">
<a class="link navigation-1__menu-link" href="#">
								Other Pages
							</a>
<ul class="navigation-1__sub-menu">
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="faq.html">
										FAQ
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="privacy-policy.html">
										Privacy Policy
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="sign-in-1.html">
										Sign In 1
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="sign-in-2.html">
										Sign In 2
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="sign-up-1.html">
										Sign Up 1
									</a>
</li>
<li class="navigation-1__sub-menu-list">
<a class="link navigation-1__sub-menu-link" href="sign-up-2.html">
										Sign Up 2
									</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<div class="d-flex align-items-center gap-3 ms-lg-auto">
<a class="nav-link fs-14" href="{{rtlLink}}">RTL</a>
<a class="btn btn-sm btn-primary order-lg-2 {% if navBtnColor %} {{navBtnColor}} {% endif %}" href="sign-in-2.html">
					Sign In
				</a>
<div class="dropdown dropdown-modifier dropdown-xsm order-lg-1">
<button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle px-4 px-lg-0 fs-14 border-0 align-items-center gap-1" data-bs-toggle="dropdown" type="button">
<i class="ti ti-sun"></i>
</button>
<ul class="dropdown-menu dropdown-menu-end dropdown-menu-light mw-unset">
<li>
<button class="dropdown-item d-flex align-items-center gap-2 fs-14" id="lightTheme" type="button">
<span class="d-block flex-shrink-0">
<i class="ti ti-sun"></i>
</span>
<span class="d-block flex-grow-1"> Light </span>
</button>
</li>
<li>
<button class="dropdown-item d-flex align-items-center gap-2 fs-14" id="darkTheme" type="button">
<span class="d-block flex-shrink-0">
<i class="ti ti-moon-stars"></i>
</span>
<span class="d-block flex-grow-1"> Dark </span>
</button>
</li>
</ul>
</div>
</div>
</nav>
</div>
</header>