<!DOCTYPE html>

<html data-bs-theme="light" data-theme="{{ dataTheme }}" lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="Elevate your hosting business with our premium, responsive website template. SEO-friendly, customizable, fast, and secure. Launch your professional site today" name="description"/>
<meta content="web hosting template, hosting company website, responsive hosting design, SEO-friendly hosting, secure web hosting, fast hosting template, customizable hosting site, premium hosting template" name="keywords"/>
<meta content="bplugins" name="author"/>
<title>Turnpage Networks www.turnpage.io - Web Hosting Template with WHMCS + RTL</title>
<link href="assets/img/favicon.png" rel="icon" type="image/png"/>
<link href="assets/css/bootstrap.css" rel="stylesheet"/>
<link href="assets/css/bootstrap-icons.css" rel="stylesheet"/>
<link href="assets/css/simplebar.css" rel="stylesheet"/>
<link href="assets/css/swiper-bundle.css" rel="stylesheet"/>
<link href="assets/css/prism.css" rel="stylesheet"/>
<link href="assets/css/ff-1.css" rel="stylesheet"/>
<link href="assets/css/style.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.35.0/dist/tabler-icons.min.css">
</head>
<body class="{{bodyClass}}">
		{% include "partials/preloader.html" %} {% if navbar %} {% include
		"partials/header.html" %} {% endif %} {% block content %}{% endblock %}

		<!-- Scripts -->
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/iconify.js"></script>
<script src="assets/js/simplebar.js"></script>
<script src="assets/js/swiper.js"></script>
<script src="assets/js/prism.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
